* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  height: 100dvh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  list-style: none;
}
.glass {
  background-color: #c8c8c82c;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 1px 1px 5px 1px #13131354;
  border: 1px solid #e9e9e94f;
}
/* Main Element Styling */
main {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

main .weatherDataViewContainerElement {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-top: 20px;
  position: relative;
  color: white;
}
main .weatherDataViewContainerElement .temp {
  font-size: 5rem;
}
main .weatherDataViewContainerElement .temp::after {
  content: "°";
}

main .weatherDataViewContainerElement .eastSide {
  font-size: 1.25rem;
}

main .weatherDataViewContainerElement .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: grid;
  place-items: center;
}

.metricSlider {
  --border-radius: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  border-radius: var(--border-radius);
  gap: 5px;
  padding: 5px;
}
.metricSlider > div {
  width: 70px;
  padding: 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
  text-align: center;
  transition: 300ms ease;
  background-color: black;
  color: white;
}
.metricSlider > div.active {
  background-color: white;
  color: black;
}

/* Form Styling */
main #weatherDataRequestFormElement {
  width: 100%;
  display: grid;
  align-items: center;
}
main #weatherDataRequestFormElement #cityNameInputElement {
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  padding: 5px 10px;

  color: white;

  &::placeholder {
    color: white;
  }
  &:focus {
    outline-color: transparent;
  }
}

main #weatherDataRequestFormElement input[type="submit"] {
  margin: 10px auto;
  position: relative;
  padding: 10px;
  border-radius: 25px;

  color: white;
  font-size: 18px;
  letter-spacing: 0.8px;
  cursor: pointer;
}
